@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400;1,700&display=swap');


:root {
    --link-blue: rgb(95, 95, 227);
}

html {
    background-color: rgb(30, 30, 30);
    color: rgb(200, 200, 200);
    font-family: Roboto;
}

body {
    margin: 0;
}

.main-content {
    max-width: 50rem;
    margin: auto;
    min-height: 100vh;
}

/* To make sure header weight does not change on hover */
.sitename a:hover {
    font-weight: 700;
}

.pagetitle {
    font-size: 3rem;
}

footer {
    background-color: black;
    padding: 0 2rem;
    height: 3rem;
    line-height: 3rem;
}

blockquote {
	border-left: solid 0.3rem white;
	padding-left: 1rem;
}

h1,h2,h3,h4,h5,h6 {
    color: white;
}

a {
    text-decoration: none;
    color: var(--link-blue);
    display: inline-block;
}

a:hover {
    transform: 0.5s;
    font-weight: 500;
    color:white;
    background-color: var(--link-blue);
    transition: ease-in-out;
}

strong {
    color: white;
}

code {
    color: white;
    padding: 0.2rem;
    background-color: rgb(73, 73, 73);
    border-radius: 0.3rem;
}